* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Microsoft Yahei', Tahoma, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1.7;
}

@media only screen and (min-width: 360px) {
  html {
    font-size: 81.3% !important;
  }
}

@media only screen and (min-width: 400px) {
  html {
    font-size: 87.5% !important;
  }
}

@media only screen and (min-width: 641px) {
  html {
    font-size: 125% !important;
  }
}

.safety {
  padding: 8px;
  color: #fff;
  background: #665FC5;
  font-size: 1rem;
  .safety-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 20px;
    background: #FFE493;
    .safety-img {
      flex: 2;
      text-align: center;
      img {
        width: 70%;
      }
    }
    .safety-txt {
      flex: 8;
      padding: 10px 5px;
      background: #5750A6;
      h5 {
        padding: 5px 0;
        font-size: 1.2rem;
      }
      p {
        text-align: justify;
      }
    }
  }
}